.featuredProducts{
    margin: 100px 200px;
    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
        h1{
            flex: 2;
            text-transform: capitalize;
        }
        p{
            flex: 3;
            color: gray;
        }
    }
    .bottom{
        display: flex;
        justify-content: center;
        gap: 50px;
    }

    @media (max-width: 768px) {
        margin: 50px 20px;
    
        .top {
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          text-align: center;
    
          h1 {
            flex: none;
            margin-bottom: 20px;
          }
    
          p {
            flex: none;
          }
        }
    
        .bottom {
          flex-wrap: wrap;
          gap: 30px;
        }
    }
}