.navbar1{
    height: 80px;
    width: 100%;

    .wrapper{
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .item{
        display: flex;
        align-items: center;
        font-size: 18px;
    }

    .left{
        display: flex;
        align-items: center;
        gap: 25px;
    }
    .center{
        font-size: 30px;
        letter-spacing: 2px;
    }
    .right{
        display: flex;
        align-items: center;
        gap: 25px;
    }
    .icons{
        display: flex;
        gap: 15px;
        color: #777;
        cursor: pointer;
        .cartIcon{
            position: relative;
            span{
                font-size: 12px;
                height: 20px;
                width:20px;
                border-radius: 50%;
                background-color: #2879fe;
                color: white;
                position: absolute;
                right: -10px;
                top:-10px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    @media (max-width: 768px) {
        height: auto;
        padding: 10px;
        font-size: 14px;
    
        .wrapper {
          padding: 10px;
          flex-direction: column;
          gap: 10px;
        }
    
        .left,
        .right {
          gap: 10px;
        }
    
        .center {
          font-size: 24px;
        }
    
        .icons {
          gap: 10px;
    
          .cartIcon {
            span {
              height: 15px;
              width: 15px;
              font-size: 10px;
              right: -8px;
              top: -8px;
            }
          }
        }
    }
    

}